
body {
	background-color: #F5F5F5;
	color: #fff;
}

h1 {
	color: #607D8B;
	font-family: 'Avenir';
}

.table {
	table-layout: fixed;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

td {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	background-color: #607D8B;
	border: 4px solid #F5F5F5;
	border-radius: 2px;
	font-size: 18px;
}

.table>tbody>tr>td {
	border-top: none;
}

.table td:hover {
	background-color: none;
}

header {
	margin-bottom: 20px;
}

footer {
	margin-top: 20px;
}

button {
	background-color: #F44336;
	border: none;
	font-size: 18px;
	padding: 10px;
}

img {
	width: 80px;
	height: auto;
	margin-right: 20px;
}

.opened-zero {
	background-color: #F5F5F5;
}

.opened-one {
	background-color: #CDDC39;
}

.opened-two {
	background-color: #FFC107;
}

.opened-three {
	background-color: #FFA000;
}

.opened-four {
	background-color: #FF5722;
}

.opened-bomb {
	background-color: #D32F2F;
}